# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Database (Quan trong: Khong day file du lieu cua quan len Github)
server/*.db
server/*.db-journal

# QR Codes (Khong can thiet phai day len vi co the gen lai)
server/qr_codes/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

.vercel

node_modules
test_browser.js
